<header th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <img src="../static/img/logo.png" th:src="@{img/logo.png}"/>
<!--            <div class="navbar-header">-->
<!--                <a class="navbar-brand" href="/">Strona główna</a>-->
<!--            </div>-->
            <ul class="nav navbar-nav">
                <li><a href="/product/">Home</a></li>
                <li><a href="/product/add">My account</a></li>
            </ul>
        </div>
    </nav>
</header>
