<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">

<title layout:fragment="title">KGW - szczegóły rezerwacji</title>

<div layout:fragment="content">
    <div class="content">
        <h1 style="padding-left: 60px;"><strong>Szczegóły</strong></h1>
        <hr style="height:2px; border-width:1px; color:black; background-color:black">

        <h2 style="padding-left: 60px;"><strong>Dane Osobowe</strong></h2>


        <div th:object="${client}">
            <div style="padding-left: 30px;">
                Imię: <text th:text="${client.get().getFistName()}"></text><br><br>
                Nazwisko: <text th:text="${client.get().getLastName()}"></text><br><br>
                Email: <text th:text="${client.get().getEmail()}"></text><br><br>
                Numer Telefonu: <text th:text="${client.get().getPhoneNumber()}"></text><br><br>
                Dodatkowe uwagi: <text th:text="${reservation.reservation().getComments()}"></text><br><br>
            </div>

        <div th:object="${reservation}">

            <hr style="height:2px; border-width:1px; color:black; background-color:black">
            <div style="padding-left: 30px;">
                Czas rezerwacji: od <text th:text="*{reservation.getStart()}"></text>  do <text th:text="*{reservation().getEnd()}"></text><br><br>
            </div>
            <hr style="height:2px; border-width:1px; color:black; background-color:black">
            <strong>Status Rezerwacji: </strong> <text id="status" th:text="*{reservation().getStatus()}"></text><br><br>
            <h2 style="padding-left: 60px;"><strong>Pokoje</strong></h2>

            <div style="padding-left: 30px;">
                Ilość osób: <text th:text="*{peopleNumber()}"></text><br><br>
                Rodzaj pokoju: <text id="room_type" th:text="*{roomType()}"></text><br><br>
                Cena: <text th:text="*{getFullPayment()}"></text> zł
            </div>
        </div>

        <div class="text-right" style="margin-right:20px">
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#cancelModal">Edytuj</button>
        </div>

        <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="background-color: #308CBF; color: white">
                    <div class="modal-body">
                        <br><br>
                        <p class="text-center">Czy na pewno chcesz edytować rezerwację?</p>
                        <br><br>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-lg btn-danger" th:href="@{/reservations/cancel(id=${reservation.reservation().getId()})}">Tak</a>
                        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Nie</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</html>
