<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="_shared/_layout">

<title layout:fragment="title">KGW - wszystkie rezerwacje</title>

<div layout:fragment="content">
    <div class="content">
        <div>
            <p class="text-right" style="margin-right: 10px">Sortuj: najnowsze</p>
            <p class="text-center">Strona:  1  2  3  4  5  ...</p>
        </div>

        <hr style="height:2px; border-width:1px; color:black; background-color:black">

        <div class="table-responsive center-block">
            <table class="table">
                <thead class="text-center">
                <tr>
                    <th class="text-center">Początek</th>
                    <th class="text-center">Koniec</th>
                    <th class="text-center">ID Rezerwacji</th>
                    <th class="text-center">Klient ID</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody style="padding: 15px 0">
                <tr th:each="reservation : ${reservations}">
                    <td class="text-center"th:text= "${reservation.reservation().getStart()}" ></td>
                    <td class="text-center"th:text= "${reservation.reservation().getEnd()}" ></td>
                    <td class="text-center" th:text= "${reservation.reservation().getId()}"></td>
                    <td class="text-center" th:text= "${reservation.reservation().getUserId()}"></td>
                    <td><a id="details" class="btn btn-lg btn-primary" th:href="@{/employees/details(id=${reservation.reservation().getId()})}">Szczegóły</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>